---
import experience from "@/data/experience";


import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative mt-16">
  {
    experience.map((exp) => (
      <li class="experience-list-item">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
